<mat-stepper>
    <mat-step label="Add people to your groups" state="groups">
      <app-group></app-group>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Add trading records" state="money">
      <app-transaction></app-transaction>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="View reports" state="report">
      <app-report></app-report>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  
    <!-- Icon overrides. -->
    <ng-template matStepperIcon="groups">
      <mat-icon>groups</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="money">
      <mat-icon>attach_money</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="report">
        <mat-icon>table_view</mat-icon>
      </ng-template>
  </mat-stepper>
  