table {
    width: 100%;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }

  .element-row td {
    border-bottom-width: 0;
    align-items: center;
    height: 3rem;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .element-description {
    padding: 16px;
  }
  
  .mat-column-action {
    width: 15rem;
  }

  .action-btn-group {
    display: flex;
  }
  .spacer {
      flex-grow: 1;
  }