<div mat-dialog-title *ngIf="data.action === 'add'"> Enter your friend's name </div>
<div mat-dialog-title *ngIf="data.action === 'edit'">
    <img class="head-icon" src="https://img.icons8.com/color/48/000000/circled-user-{{data.icon?.sex}}-skin-type-{{data.icon?.skin}}--v1.png" alt="icon">
    {{data.name}}
</div>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button 
        mat-stroked-button 
        (click)="onAction('Cancel')"
        >{{data.cancelBtnText ?? 'Cancel'}}</button>
    <button 
        mat-stroked-button 
        (click)="onAction('Remove')" 
        color="warn" 
        *ngIf="data.action === 'edit'"
        >{{data.removeBtnText ?? 'Remove'}}</button>
    <button 
        mat-stroked-button 
        (click)="onAction('Save')" 
        cdkFocusInitial>{{data.submitBtnText ?? 'Save'}}</button>
</div>