<div mat-dialog-title *ngIf="data.action === 'add'"> Enter your friend's name </div>
<div mat-dialog-title *ngIf="data.action === 'edit' && data.icon">
    <img class="head-icon" [src]="getHeadIcon(data.icon)" alt="head-icon">
    {{data.name}}
</div>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button 
        mat-stroked-button 
        (click)="onAction('Cancel')"
        >{{data.cancelBtnText ?? 'Cancel'}}</button>
    <button 
        mat-stroked-button 
        (click)="onAction('Remove')" 
        color="warn" 
        *ngIf="data.action === 'edit'"
        >{{data.removeBtnText ?? 'Remove'}}</button>
    <button 
        mat-stroked-button 
        (click)="onAction('Save')" 
        cdkFocusInitial>{{data.submitBtnText ?? 'Save'}}</button>
</div>