.mat-card {
    cursor: pointer;
    margin: 0.5rem 0;
    height: 3rem;
}

.mat-card:hover {
    background: whitesmoke;
}

.mat-icon {
    margin-left: 1rem;
    margin-right: 2rem;;
}

.mat-card-title, .mat-card-content {
    display: flex;
    align-items: center;
}

.spacer {
    flex-grow: 1;
}

.table {
    width: 100%;
  }